/* layout */
$border-radius: 0.5rem;
$layout-padding: 1.5rem;

/* colors */
$color-main: #3fadca;
$color-dark: #002137;
$color-pink: #e77eb4;
$color-warning: #ff2e63;
$color-grey: #96afb8;

$nav-color-default: #888;
$nav-color-active: #000;

/* nav */
$nav-height: 6rem;
